<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add</title>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<% include ../components/navbar.ejs %>
		<h1 style="text-align: center">Add Delivery</h1>

		<div style="margin: 30px">
			<a href="/delivery" class="btn-primary">Back</a>
		</div>

		<div class="form-container">
			<form action="/delivery/store" method="POST">
				<% if (messages.error){ %>
				<strong style="color: orangered"><%= messages.error %></strong>
				<% } %>
				<div>
					<label for="">Kode Barang :</label>
					<input type="text" value="<%= itemId %>" name="itemId" id="itemId" />
				</div>
				<div>
					<label for="">Kode Pengirim :</label>
					<input
						type="text"
						value="<%= customerId %>"
						name="customerId"
						id="customerId"
					/>
				</div>
				<div>
					<label for="">Penerima :</label>
					<textarea name="receiver" id="receiver" cols="20" rows="4">
            <%= receiver %>
          </textarea>
				</div>
				<div>
					<label for="">Kode Distributor :</label>
					<input
						type="text"
						value="<%= postmanId %>"
						name="postmanId"
						id="postmanId"
					/>
				</div>
				<div>
					<button class="btn-custom">Upload</button>
				</div>
			</form>
		</div>
		<% include ../components/footer.ejs %>
	</body>
</html>
